<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button (click)="menuBar()"></ion-menu-button>
        </ion-buttons>
        <ion-title>About App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-avatar class="image-profile">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRV-cPuyRvWDL0ClqZ2S-IVGp2KD7zWdMcaQ&usqp=CAU">
    </ion-avatar>
    <ion-text>
        <h1 class="name"> Ventryshia Andiyani </h1>
        <h4 class="nim">00000019886 - CL</h4>
        <!-- <ion-label class="desc"> -->
        <p class="desc">
            Pengerjaan Aplikasi UMN Items ini, saya kerjakan sendiri di rumah dengan bantuan dari dokumentasi Ionic Framework, Modul Praktikum dan Modul Teori Mobile 2.
        </p>
        <!-- </ion-label> -->
    </ion-text>
</ion-content>