<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Home
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button (click)="menuBar()"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="switchView()" *ngIf="grid">
                <ion-icon name="grid-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="switchView()" *ngIf="!grid">
                <ion-icon name="list-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="grid" color="tertiary">
    <ion-grid>
        <ion-row>
            <ion-col class="ion-col-class" size="12" size-sm="8" offset-sm="2" *ngFor="let item of items" #slidingItem>
                <ion-card class="card-border" *ngIf="item.stock != 0">
                    <ion-item [routerLink]="['/home/', item.id]">
                        <ion-img slot="start" class="img-border" [src]="item.imageUrl[0]"></ion-img>
                        <ion-label class="label-space">
                            {{ item.nama }} <br/> {{ item.price | currency:"Rp. ": true:"1.0"}} <br/>Tersedia: {{ item.stock }}
                        </ion-label>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="!grid" color="tertiary">
    <div class="div-2col">
        <ion-grid>
            <ion-row>
                <div *ngFor="let item of items">
                    <ion-col class="col" *ngIf="item.stock !=0">
                        <ion-card class="card-border2" [routerLink]="['/home/', item.id]">
                            <ion-img class="img-border2" [src]="item.imageUrl[0]"></ion-img>
                            <ion-card-content class="card-content-border">
                                <ion-label class="label-space">
                                    {{ item.nama }} <br/> {{ item.price | currency:"Rp. ": true:"1.0"}} <br/>Tersedia: {{ item.stock }}
                                </ion-label>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>